body{
    background-color:blanchedalmond;
    }
h1 {
    color: mediumaquamarine;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma;
    text-align: center;
    
}
h2 {
    color: olivedrab;
    font-size: 50px;
    font-family:serif ;
    text-align: center;
}
h3 {
    color: palevioletred;
    font-size: 40px;
    font-family: unset;
    text-align: center;
}